.Layout {
    text-align         : center;
    display            : grid;
    grid-template-areas: "logo header header header"
        "side main main main";
    grid-template-rows   : max-content auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height               : 100vh;
}

.Layout.Dark {
    background-color: var(--dark);
    color           : var(--light);
}

.Layout.Light {
    background-color: var(--grey);
    color           : var(--dark);
}

.Head {
    grid-area: header;
}

.Logo {
    grid-area: logo;
}

.Logo,
.Head {
    /* border-width   : 1px;
    border-style   : solid; */
    min-height     : 80px;
    padding        : 20px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.Quote {
    position     : relative;
    border-width : 2px;
    border-style : solid;
    border-radius: 20px;
    padding      : 25px;
    font-style   : italic;
    font-weight  : bold;
}

.Dark .Quote {
    border-color: var(--grey);
}

.Light .Quote {
    border-color: var(--dark);
}

/* Blockquote right double quotes */
.Quote q:after {
    content         : "";
    position        : absolute;
    /* border       : 2px solid #e74848; */
    border-width    : 2px;
    border-style    : solid;
    border-radius   : 0 50px 0 0;
    width           : 60px;
    height          : 60px;
    bottom          : -62px;
    left            : 50px;
    border-bottom   : none;
    border-left     : none;
    z-index         : 3;
}

.Dark .Quote q:after {
    border-color: var(--grey);
}

.Light .Quote q:after {
    border-color: var(--dark);
}

.Quote q:before {
    content     : "";
    position    : absolute;
    border-width: 6px;
    border-style: solid;
    width       : 80px;
    bottom      : -3px;
    left        : 50px;
    z-index     : 2;
}

.Dark .Quote q:before {
    border-color: var(--dark);
}

.Light .Quote q:before {
    border-color: var(--grey);
}

/* .Dark .Head,
.Dark .Logo {
    border-color: var(--light);
}

.Light .Head,
.Light .Logo {
    border-color: var(--dark);
} */