.Layout {
    text-align         : center;
    display            : grid;
    grid-template-areas: "logo header header header"
        "side main main main";
    grid-template-rows   : max-content auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height               : 100vh;
}

.Layout.Dark {
    background-color: var(--dark);
    color           : var(--light);
}

.Layout.Light {
    background-color: var(--grey);
    color           : var(--dark);
}

.Head {
    grid-area: header;
}

.Logo {
    grid-area: logo;
}

.Logo,
.Head {
    border-width   : 1px;
    border-style   : solid;
    min-height     : 80px;
    padding        : 20px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.Dark .Head,
.Dark .Logo {
    border-color: var(--light);
}

.Ligth .Head,
.Ligth .Logo {
    border-color: var(--dark);
}