.Container {
    grid-area: side;
    border   : 1px solid black;
}

.Content {
    grid-area: main;
    border   : 1px solid black;
}

.Container ul {
    list-style          : none;
    padding-inline-start: 0px;
}