/* .ItemContainer {
    overflow: scroll;
} */

.Item {
    display: flex;
    margin : 30px 10px;
}

.Item>div:first-of-type {
    width: 25%;
}

.Date {
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.Year {
    transform  : rotateZ(270deg);
    height     : fit-content;
    font-weight: 900;
}

.DateBox {
    width   : 70px;
    position: relative;
}

.Month {
    color                  : white;
    background-color       : #3d4651;
    padding                : 5px;
    border-top-left-radius : 6px;
    border-top-right-radius: 6px;
}


.Day {
    padding                   : 5px;
    margin-top                : 2px;
    border-bottom-left-radius : 6px;
    border-bottom-right-radius: 6px;
}

.Dark .Day {
    background-color: var(--sunny);
    color           : var(--dark)
}

.Light .Day {
    background-color: var(--purple);
    color           : var(--light)
}

.Icon {
    position       : absolute;
    top            : -15px;
    display        : flex;
    width          : 100%;
    justify-content: space-evenly;
}

.Content {
    display                   : flex;
    justify-content           : space-between;
    align-items               : center;
    width                     : 75%;
    font-weight               : bolder;
    border-top-right-radius   : 82px;
    border-bottom-right-radius: 82px;
    padding                   : 20px;
}

.Dark .Content {
    /* background-color: tomato; */
    background-color: var(--purple);
}

.Light .Content {
    background-color: var(--sunny);
}

.Text {
    width: 50%;
}

.Content>div:nth-child(2) {
    width: 20%;
}

.Content>div:nth-child(3) {
    width: 30%;
}

.Text {
    text-align: left;
}